
body {
	/*background-color: #e5e5e5;*/
	text-align: center;
}

#main-title {
	text-align: center;
	font-size: 36px;
	font-weight: bold;	
}

#main-display {
	height: 680px;
	width: 1200px;
	margin:0 auto;
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(230,230,230,1);
	-moz-box-shadow: 5px 5px 5px 0px rgba(230,230,230,1);
	box-shadow: 5px 5px 5px 0px rgba(230,230,230,1);
	/*background-color: gray;*/

}

#left {
	display: inline-block;
	height: 670px;
	width: 695px;
	float: left;
	margin: 5px;
	margin-top: 15px;
/*	border: 1px solid black;
*/	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
	/*background-color: blue;*/
}

#right {
	display: inline-block;
	height: 650px;
	width: 495px;
	float: right;
	text-align: center;
	margin: 0px;
	margin-top: 15px;
	/*background-color: green;*/
}

#map {
	height: 590px;
	padding: 5px;
	/*background-color: green;*/
}

#chart1 {
	height: 300px;
	/*border: 1px solid #CCCCCC;*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 5px;
	/*-webkit-box-shadow: 5px 5px 5px 0px rgba(230,230,230,1);
	-moz-box-shadow: 5px 5px 5px 0px rgba(230,230,230,1);
	box-shadow: 5px 5px 5px 0px rgba(230,230,230,1);*/
}

#chart2 {
	height: 300px;
	margin-top: 10px;
	/*border: 1px solid #CCCCCC;*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 5px;
	/*-webkit-box-shadow: 5px 5px 5px 0px rgba(230,230,230,1);
	-moz-box-shadow: 5px 5px 5px 0px rgba(230,230,230,1);
	box-shadow: 5px 5px 5px 0px rgba(230,230,230,1);*/
}


#controls {
	padding: 4px;
	text-align: left;
	vertical-align: middle;
/*	background-color: blue;
*/	
}

#slider-container {
	width: 100px;
	display: inline-block; 
	float: left;
	padding-top: 6px;
/*	background-color: yellow;
*/}

#slider-display {
	display: inline-block;
	text-align: left;
	float: left;
    font-size: 1em;
    color: #606060;
	margin-right: 25px;
	margin-left: 15px;
	padding-top: 4px;
	/*	background-color: red;
*/}

#time-unit {
	font-weight: bold;
}

#dropdown {
	display: inline-block;
	float: left;
	margin-left: 5px;
	text-align: center;
/*	background-color: pink;
*/}

.ui-selectmenu-text, .ui-menu-item {
	font-size: 0.7em;
}


#valVar {
	width: 250px;
}

.ui-widget {
	font-size: 0.8em;
}

