collections
colorama
colorlog
cStringIO
datetime
decorators
functools
getopt
glob
gzip
json
logging
matplotlib
multiprocessing
numpy=1.10.1
openpyxl
os
pandas=0.16.2
pickle
psutil
psycopg2
shutil
subprocess
sys
time