collections
colorama
colorlog
cStringIO
datetime
decorators
functools
getopt
glob
gzip
json
logging
matplotlib
multiprocessing
numpy=1.9.2
openpyxl=1.8.5
os
pandas=0.16.2
pickle
psutil
psycopg2
shutil
subprocess
sys
time