#toc {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  overflow:auto;
  font-size: 14px;
  
}

/*body, td {*/
body, td {
   font-family: sans-serif;
   background-color: white;
   font-size: 12px;
   margin: 8px;
   margin-left:210px;
   counter-reset: h1counter;
}

iframe.rChart {
   border: none;
   height: 600px !important;
}


tt, code, pre {
   font-family: 'DejaVu Sans Mono', 'Droid Sans Mono', 'Lucida Console', Consolas, Monaco, monospace;
}

#toc_header {
   font-size: 1.8em;
   font-weight: normal;
   counter-reset: h2counter;
}

h1 {
   font-size: 2.2em;
   font-weight: normal;
   counter-reset: h2counter;
}

h1:before {
   content: counter(h1counter) ".\0000a0\0000a0";
   counter-increment: h1counter;
}

h2 {
   font-size: 1.8em;
   font-weight: normal;
}

h2:before {
   content: counter(h1counter) "." counter(h2counter) ".\0000a0\0000a0";
   counter-increment: h2counter;
}

h3 {
   font-size: 1.4em;
   font-weight: normal;
}

h4 {
   font-size: 1.0em;
   font-weight: normal;
}

h5 {
   font-size: 0.9em;
}

h6 {
   font-size: 0.8em;
}

a:visited {
   color: rgb(50%, 0%, 50%);
}

pre {
   margin-top: 0;
   max-width: 95%;
   border: 1px solid #ccc;
}

pre code {
   display: block; padding: 0.5em;
}

code.r {
   background-color: #F8F8F8;
}

table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 45px;
	width: 846px;
	border: none;
	border-collapse: collapse;
	text-align: left;
  margin-left: auto;
  margin-right: auto;
}

table th {
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border: none;
	border-bottom: 2px solid #6678b1;
  text-align: right;
}

table td {
	border: none;
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
  text-align: right;
}

table tbody tr:hover td {
	color: #009;
}

table caption {
	align: top
}


@media print {
   * { 
      background: transparent !important; 
      color: black !important; 
      filter:none !important; 
      -ms-filter: none !important; 
   }

   body { 
      font-size:12pt; 
      max-width:100%; 
   }
       
   a, a:visited { 
      text-decoration: underline; 
   }

   hr { 
      visibility: hidden;
      page-break-before: always;
   }

   pre, blockquote { 
      padding-right: 1em; 
      page-break-inside: avoid; 
   }

   table, tr, img { 
      page-break-inside: avoid; 
   }

   img { 
      max-width: 100% !important; 
   }

   @page :left { 
      margin: 15mm 20mm 15mm 10mm; 
   }
     
   @page :right { 
      margin: 15mm 10mm 15mm 20mm; 
   }

   p, h2, h3 { 
      orphans: 3; widows: 3; 
   }

   h1, h2, h3 { 
      page-break-after: avoid;
   }
}


